body{
    height: 3000px;
    background-image: url("https://mblogthumb-phinf.pstatic.net/20160127_177/krazymouse_1453865104404DjQIi_PNG/%C4%AB%C4%AB%BF%C0%C7%C1%B7%BB%C1%EE_%B6%F3%C0%CC%BE%F0.png?type=w2");
    margin: 0; 
    background-repeat: no-repeat;
    background-position: right;
    background-attachment: fixed;
}
.leftside{
    position: relative;
    left: 20px;
    height: 3000px;
    width: 100px;
    background: linear-gradient(orange, black);
}

.container1{
    top: 0;
    background-color: aquamarine;
    align-items: center;
    justify-content: space-evenly;
    height: 70px;
    width: 100%;
    position: fixed;
    display: flex;
}
.container2{
    background-color: greenyellow;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    height: 70px;
    width: 100%;
    position: fixed;
    align-items: center;
}
.item{
    height: 50px;
    border-radius: 30px;
    font-weight: 700;
    background-color: navy;
    color: white;
    line-height: 50px;
    text-align: center;

}
.item1{
    height: 50px;
    border-radius: 30px;
    font-weight: 700;
    background-color: royalblue;
    color: white;
    line-height: 50px;
    flex-grow: 1;
    text-align: center;

}
.item2{
    height: 50px;
    border-radius: 30px;
    font-weight: 700;
    background-color: royalblue;
    color: white;
    flex-grow: 2;
    line-height: 50px;
    text-align: center;

}
.nav{
    flex-basis: 150px;
}
.item:hover{
    background-color: orange;
    color: blue;
}
.item1:hover{
    background-color: blueviolet;
    color: royalblue;
}
.item2:hover{
    background-color: blueviolet;
    color: royalblue;
}